@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap");

:root {
  --primary-color: red;
}
body {
  font-family: "Lumanosimo", cursive;
}
hr {
  margin: 1rem 0rem;
}
/** container **/
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}
/** links**/
.link {
  text-decoration: none;
  padding: 0.5rem 1 rem;
}
.link-primary {
  background-color: var (--primary-color);
  border-radius: 0.5rem;
  border: 2px solid var(--primary-color);
  color: black;
}

.link-secondary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  border: 2px solid var(--primary-color);
}
